body {
	background: url(img/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	font-family: Georgia, Times New Roman, Serif;
}

:root {
	--general_margin: 100px;
	--black_colour: #1A1A1A;
	--dark_text_colour: #262626;
	--light_green_colour: #8ca764;
	--green_colour: #4f8d1b;
	--dark_green_colour: #325a11;
	--natural_white_colour: #ededea;
	--light_gray_colour: #e1e1dc;
}

/*

General page stuff

*/

/* Main content box */
.page_background {
	margin: auto;
	width: 60%;
	background-color: rgba(240, 240, 240, 0.8);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
}

/* Headline box */
#main_headline_box {
	background: var(--light_green_colour);
	border: 2px solid #7a9254;
	border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
	margin: auto;
	margin-left: 200px;
	margin-right: 200px;
}

/* Main headline for the page */
#main_headline {
	font-weight: 900;
	text-align: center;
	padding: 10px;
}

#link_main {
	text-decoration: none;
	color: var(--black_colour);
}

/*

Navigator stuff

*/

#navi {
	margin-left: var(--general_margin);
	margin-right: var(--general_margin);
	margin-top: 40px;
}

#grid_navi {
	display: grid;
	grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.navi_column_1, .navi_column_2, .navi_column_3 {
	display: inherit;
	justify-content: center;
}

.navi_column_1 {
	grid-column: 1;
    grid-row: 1;
}

.navi_column_2 {
	grid-column: 2;
    grid-row: 1;
}

.navi_column_3 {
	grid-column: 3;
    grid-row: 1;
}

.headline_border {
	border-right: 2px solid rgba(73, 133, 25, 0.3);

}

.link {
	text-decoration: none;
	color: var(--dark_green_colour);
}

.link:hover {
	color: var(--green_colour);
	transition: 0.2s ease-out;
}

/*

Page specific stuff

*/


/*
Main page
*/

/* Area under the table/navi */
.content_area {
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 1.5;
}

/* Text area */
.subheadline, .description, .list {
	color: var(--dark_text_colour);
}


/*
Filter and search
*/

#filter {
	margin-left: var(--general_margin);
	margin-right: var(--general_margin);
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid rgba(73, 133, 25, 0.3);
	border-radius: 4px;
	background-color: var(--natural_white_colour);
}

#grid_filter {
	display: grid;
	grid-template-columns: 30% 27.5% 27.5% 15%;
    justify-content: center;
	border-radius: 4px;
	padding: 6px 20px 6px 20px;
}

.filter_column_1 {
	grid-column: 1;
    grid-row: 1;
	color: #444;
	text-align: left;
}

.filter_column_2 {
	grid-column: 2;
    grid-row: 1;
}

.filter_column_3 {
	grid-column: 3;
    grid-row: 1;
}

.filter_column_4 {
	grid-column: 4;
    grid-row: 1;
}

.filter_dropdown {
	padding: 4px;
	border-color: var(--light_gray_colour);
	border-radius: 1px;
	width: 100%;
}

#text_search {
	box-sizing: border-box;
	border-radius: 1px;
	border: 1px solid var(--light_gray_colour);
	width: 100%;
	height: 26px;
}

#search_button{
	border: 1px solid var(--light_gray_colour);
	border-radius: 1px;
	background-color: var(--light_green_colour);
	width: 100%;
	height: 26px;
}

/* search results */

#plant_list {
	margin-left: var(--general_margin);
	margin-right: var(--general_margin);
	border: 2px solid rgba(73, 133, 25, 0.3);
	border-radius: 4px;
	background-color: #FFF;
}

#grid_plant_list {
	display: grid;
	grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.plant_list_column_1, .plant_list_column_2, .plant_list_column_3 {
	display: inherit;
	margin-left: 20px;
	justify-content: left;
}

.plant_list_column_1 {
	grid-column: 1;
}

.plant_list_column_2 {
	grid-column: 2;
}

.plant_list_column_3 {
	grid-column: 3;
}

/*

Media

*/

@media(max-width: 576px) {

    body {
        margin: 0px;
    }

    .page_background {
    	width: 100%;
    }

    .general {
    	margin-right: 10px;
    	margin-left: 10px;
    }

    .main_headline_box {
    	margin-right: 10px;
    	margin-left: 10px;
    }