body {
	background: url(img/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	font-family: Georgia, Times New Roman, Serif;
}

:root {
	--general_margin: 100px;
	--black_colour: #1A1A1A;
	--dark_text_colour: #262626;
	--green_colour: #4f8d1b;
	--dark_green_colour: #325a11;
}

/*

General page stuff

*/

/* Main content box */
.page_background {
	margin: auto;
	width: 60%;
	background-color: rgba(240, 240, 240, 0.8);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
}

/* Headline box */
.main_headline_box {
	background: #8ca764;
	border: 2px solid #7a9254;
	border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
	margin: auto;
	margin-left: 200px;
	margin-right: 200px;
}

/* Main headline for the page */
.main_headline {
	font-weight: 900;
	text-align: center;
	padding: 10px;
}

.link_main {
	text-decoration: none;
	color: var(--black_colour);
}

/*

Navigator stuff

*/

.navi {
	margin-left: var(--general_margin);
	margin-right: var(--general_margin);
	margin-top: 40px;
}

.navi_table {
	width: 100%;
}

.table_headline {
	width: 30%;
}

.headline_border {
	border-right: 2px solid rgba(73, 133, 25, 0.3);

}

.link {
	text-decoration: none;
	color: var(--dark_green_colour);
}

.link:hover {
	color: var(--green_colour);
	transition: 0.2s ease-out;
}

/*

Page specific stuff

*/

/* Area under the table/navi */
.content_area {
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 1.5;
}

/* Text area */
.subheadline, .description, .list {
	color: var(--dark_text_colour);
}

/*

Filter and search

*/

.filter {
	margin-left: var(--general_margin);
	margin-right: var(--general_margin);
	margin-top: 20px;
	border: 2px solid rgba(73, 133, 25, 0.3);
	border-radius: 4px;
}

.filter_table {
	width: 100%;
	background-color: #ededea;
	border-radius: 4px;
}

.filter_table_headline {
	width: 50%;
	color: #444;
}

#search {
	border: none;
	width: 200px;
	height: 24px;
}

#search_button {
	border: none;
	background-color: #ededea;
}

#search_button:hover {

}


@media(max-width: 576px) {

    body {
        margin: 0px;
    }

    .page_background {
    	width: 100%;
    }

    .general {
    	margin-right: 10px;
    	margin-left: 10px;
    }

    .main_headline_box {
    	margin-right: 10px;
    	margin-left: 10px;
    }