@font-face {
    font-family: Paprika;
    src: url(../fonts/Paprika.regular.ttf);
}

@font-face {
    font-family: Nature;
    src: url(../fonts/Nature.ttf);
}

body {
	background: url(public/img/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	font-family: Paprika, Serif;
}

:root {
	/* margins */
	--generalMargin: 80px;
	--mobileMargin: 10px;
	/* colours */
	--blackColour: #1A1A1A;
	--darkTextColour: #262626;
	--greenColour: #4f8d1b;
	--darkGreenColour: #325a11;
	--naturalWhiteColour: #ededea;
	--lightGrayColour: #e1e1dc;
}

/***********************
************************
 * General page stuff * 
************************
***********************/

/* Main content box */
.pageBackground {
	margin: auto;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Headline box */
#mainHeadlineBox {
	padding: 40px;
	margin: auto;
	margin-left: 200px;
	margin-right: 200px;
}

/* Main headline for the page */
#mainHeadline {
	transform: scale(1.8);
	text-align: center;
}

#linkMain {
	text-decoration: none;
	color: var(--lightGrayColour);
	font-family: Nature;
	font-size: xxx-large;
}

/* Area under the table/navi */
.contentArea {
	background-color: var(--lightGrayColour);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: var(--generalMargin);
	margin-right: var(--generalMargin);
	padding: 20px;
	line-height: 1.5;
}



/********************

 * Navigator stuff * 

********************/

#navi {
	margin-left: var(--generalMargin);
	margin-right: var(--generalMargin);
}

#gridNavi {
	display: grid;
	grid-template-columns: 33% 33% 33%;
    justify-content: center;
    background-color: var(--greenColour);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.naviColumn1, .naviColumn2, .naviColumn3 {
	padding: 10px;
	padding-bottom: 0px;
	display: inherit;
	justify-content: center;
}

.naviColumn1 {
	grid-column: 1;
    grid-row: 1;
}

.naviColumn2 {
	grid-column: 2;
    grid-row: 1;
}

.naviColumn3 {
	grid-column: 3;
    grid-row: 1;
}

.link {
	text-decoration: none;
	color: var(--blackColour);
	font-family: Nature;
	font-size: xxx-large;
}

.link:hover {
	color: var(--darkGreenColour);
	transition: 0.2s ease-out;
}



/********************
 * Text area *
********************/

.subheadline, .description, .list {
	color: var(--darkTextColour);
}

.textArea {
	padding: 40px;
}



/**********************
 * Filter and search * 
**********************/

#filter {
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: var(--naturalWhiteColour);
}

#gridFilter {
	display: grid;
	grid-template-columns: 30% 27.5% 27.5% 15%;
    justify-content: center;
	border-radius: 4px;
	padding: 6px 20px 6px 20px;
}

.filterColumn1 {
	grid-column: 1;
    grid-row: 1;
	color: #444;
	text-align: left;
}

.filterColumn2 {
	grid-column: 2;
    grid-row: 1;
}

.filterColumn3 {
	grid-column: 3;
    grid-row: 1;
}

.filterColumn4 {
	grid-column: 4;
    grid-row: 1;
}

.filterDropdown {
	padding: 4px;
	border-color: var(--lightGrayColour);
	border-radius: 1px;
	width: 100%;
	height: 100%;
}

#textSearch {
	box-sizing: border-box;
	border-radius: 1px;
	border: 1px solid var(--lightGrayColour);
	width: 100%;
	height: 100%;
}

#searchButton{
	border: 1px solid var(--lightGrayColour);
	border-radius: 1px;
	background-color: var(--greenColour);
	width: 100%;
	height: 100%;
}



/**********************
 * Search results * 
**********************/

#plantList {
	border: 1px solid;
	border-color: var(--lightGrayColour);
	border-radius: 4px;
	background-color: #FFF;
}

#gridPlantList {
	display: grid;
	grid-template-columns: 33% 33% 33%;
    justify-content: center;
    border: 1px solid;
	border-color: var(--lightGrayColour);
}

.plantListColumn1, .plantListColumn2, .plantListColumn3 {
	display: inherit;
	margin-left: 20px;
	justify-content: left;
}

.plantListColumn1 {
	grid-column: 1;
	border-right: 1px solid;
	border-color: var(--lightGrayColour);
}

.plantListColumn2 {
	grid-column: 2;
	border-right: 1px solid;
	border-color: var(--lightGrayColour);
}

.plantListColumn3 {
	grid-column: 3;
}



/**************************************************
***************************************************
 * * * * * * * * * * * MEDIA * * * * * * * * * * *
***************************************************
**************************************************/

@media(max-width: 768px) {

    body {
        margin: 0px;
    }

    .pageBackground {
    	width: 100%;
    }

    #navi, .contentArea, #filter, #plantList {
    	margin-right: var(--mobileMargin);
    	margin-left: var(--mobileMargin);
    }

    #mainHeadlineBox {
    	margin-right: 0px;
    	margin-left: 0px;
    	border-radius: 0px;
    }