@font-face {
    font-family: Paprika;
    src: url(../fonts/Paprika.regular.ttf);
}

body {
	background: url(public/img/bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	font-family: Paprika, Serif;
}

:root {
	--generalMargin: 100px;
	--mobileMargin: 10px;
	--blackColour: #1A1A1A;
	--darkTextColour: #262626;
	--lightGreenColour: #8ca764;
	--greenColour: #4f8d1b;
	--darkGreenColour: #325a11;
	--naturalWhiteColour: #ededea;
	--lightGrayColour: #e1e1dc;
}

/*

General page stuff

*/

/* Main content box */
.pageBackground {
	margin: auto;
	width: 60%;
	background-color: rgba(240, 240, 240, 0.8);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
}

/* Headline box */
#mainHeadlineBox {
	background: var(--lightGreenColour);
	border: 2px solid #7a9254;
	border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
	margin: auto;
	margin-left: 200px;
	margin-right: 200px;
}

/* Main headline for the page */
#mainHeadline {
	font-weight: 900;
	text-align: center;
	padding: 10px;
}

#linkMain {
	text-decoration: none;
	color: var(--blackColour);
}

/*

Navigator stuff

*/

#navi {
	margin-left: var(--generalMargin);
	margin-right: var(--generalMargin);
	margin-top: 40px;
}

#gridNavi {
	display: grid;
	grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.naviColumn1, .naviColumn2, .naviColumn3 {
	display: inherit;
	justify-content: center;
}

.naviColumn1 {
	grid-column: 1;
    grid-row: 1;
}

.naviColumn2 {
	grid-column: 2;
    grid-row: 1;
}

.naviColumn3 {
	grid-column: 3;
    grid-row: 1;
}

.headlineBorder {
	border-right: 2px solid rgba(73, 133, 25, 0.3);

}

.link {
	text-decoration: none;
	color: var(--darkGreenColour);
}

.link:hover {
	color: var(--greenColour);
	transition: 0.2s ease-out;
}

/*

Page specific stuff

*/


/*
Main page
*/

/* Area under the table/navi */
.contentArea {
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 1.5;
}

/* Text area */
.subheadline, .description, .list {
	color: var(--darkTextColour);
}


/*
Filter and search
*/

#filter {
	margin-left: var(--generalMargin);
	margin-right: var(--generalMargin);
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid rgba(73, 133, 25, 0.3);
	border-radius: 4px;
	background-color: var(--naturalWhiteColour);
}

#gridFilter {
	display: grid;
	grid-template-columns: 30% 27.5% 27.5% 15%;
    justify-content: center;
	border-radius: 4px;
	padding: 6px 20px 6px 20px;
}

.filterColumn1 {
	grid-column: 1;
    grid-row: 1;
	color: #444;
	text-align: left;
}

.filterColumn2 {
	grid-column: 2;
    grid-row: 1;
}

.filterColumn3 {
	grid-column: 3;
    grid-row: 1;
}

.filterColumn4 {
	grid-column: 4;
    grid-row: 1;
}

.filterDropdown {
	padding: 4px;
	border-color: var(--lightGrayColour);
	border-radius: 1px;
	width: 100%;
}

#textSearch {
	box-sizing: border-box;
	border-radius: 1px;
	border: 1px solid var(--lightGrayColour);
	width: 100%;
	height: 26px;
}

#searchButton{
	border: 1px solid var(--lightGrayColour);
	border-radius: 1px;
	background-color: var(--lightGreenColour);
	width: 100%;
	height: 26px;
}

/* search results */

#plantList {
	margin-left: var(--generalMargin);
	margin-right: var(--generalMargin);
	border: 2px solid rgba(73, 133, 25, 0.3);
	border-radius: 4px;
	background-color: #FFF;
}

#gridPlantList {
	display: grid;
	grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.plantListColumn1, .plantListColumn2, .plantListColumn3 {
	display: inherit;
	margin-left: 20px;
	justify-content: left;
}

.plantListColumn1 {
	grid-column: 1;
}

.plantListColumn2 {
	grid-column: 2;
}

.plantListColumn3 {
	grid-column: 3;
}

/*

Media

*/

@media(max-width: 768px) {

    body {
        margin: 0px;
    }

    .pageBackground {
    	width: 100%;
    }

    #navi, .contentArea, #filter, #plantList {
    	margin-right: var(--mobileMargin);
    	margin-left: var(--mobileMargin);
    }

    #mainHeadlineBox {
    	margin-right: 0px;
    	margin-left: 0px;
    	border-radius: 0px;
    }